.container {
    text-align: center;
}

.block {
    background-color: blue;
    border: 1px solid black;
    padding: 20px;
    width: 100px;
    height: 100px;
    color: white;
    display: inline-block;
}

.selected {
    background-color: red !important;
}